@{
    ViewData["Title"] = "Registration";
    
    string Name = string.Empty;
    string Surname = string.Empty;
    string Login = string.Empty;
    string Password = string.Empty;
}

<button class="go-back">&#8249;</button>

<p class="error">@ViewData["ErrorMessage"]</p>

<form asp-controller="Identity" asp-action="Registration" method="Post">
    <input id="name" asp-for="@Name" type="text" placeholder="Name">
    <input id="surname" asp-for="@Surname" type="text" placeholder="Surname">
    <input id="login" asp-for="@Login" type="text" placeholder="Login">
    <input id="password" asp-for="@Password" type="password" placeholder="Password">
    <button id="submit" type="submit">Register</button>
</form>