@{
    ViewData["Title"] = "Create";

    var Title = string.Empty;
    var Description = string.Empty;
    var Category = string.Empty;
    int Price = 0;
    string UserId = ViewBag.Id;
}

<button class="go-back">&#8249;</button>

<div class="create-div">
    <p class="error">@ViewData["ErrorMessage"]</p>

    <form asp-asp-controller="Recipes" asp-action="Create" method="post" class="create-form">
        <p>Create Recipe</p>

        <input id="title" asp-for="@Title" type="text" placeholder="Title"/>
        <textarea id="description" asp-for="@Description" placeholder="Description" cols="30" rows="5"></textarea>
        <input id="category" asp-for="@Category" type="text" placeholder="Category" />
        <input id="price" asp-for="@Price" type="number" placeholder="Price">
        <input type="text" asp-for="@UserId" hidden>

        <button id="submit" type="submit">Create</button>
    </form>
</div>

<style>
    .create-form p {
        font-weight: bold;
        color: #d6bf29;
        font-size: 18px;
    }

    .create-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
    }

    .create-form {
        position: relative;
        background: #ffffff;
        max-width: 360px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        border-radius: 15px;
    }

    .create-form input,
    .create-form textarea {
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        border-radius: 15px;
    }

    .create-form button {
        text-transform: uppercase;
        outline: 0;
        background: #3324be;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        border-radius: 15px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .create-form button:hover,
    .create-form button:active,
    .create-form button:focus {
        background: #2957d6;
    }
</style>