@model Recipe

@{
    ViewData["Title"] = "Details";
}

<button class="go-back">&#8249;</button>

<ul>
    <li>Id: @Model.Id</li>
    <li>Title: @Model.Title</li>
    <li>Description: @Model.Description</li>
    <li>Category: @Model.Category</li>
    <li>Price: @Model.Price</li>
</ul>